


      p{color:#D2738A;}
      a{color:#C1B492;}
      h1{color:#D2738A;}
      h2{color:#D2738A;}
      hr{color:#C1B492;}
 




header {
  text-align: center;
  
}

body {

  background-color: black;
}

footer {
  font-size: x-small;

}

#rightpic {
   background-position: top right;
   background: url('Resources/unkown-6.png') no-repeat;
   height : 133px;
   padding : 0;
   width: 138px;
}
